<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.xingtong.interf.DictionaryMapper">
<!-- 添加 -->
	<insert id="addcity" parameterType="com.xt.xingtong.entity.Dictionary">
		insert into dictionary (
		dname, dtype
		)
		values ( #{dname,jdbcType=VARCHAR}, dtype='Cs'}
		)
	</insert>
	<insert id="addJy" parameterType="com.xt.xingtong.entity.Dictionary">
		insert into dictionary ( dname,
		dtype
		)
		values ( #{dname,jdbcType=VARCHAR}, dtype='Jy'}
		)
	</insert>
	<insert id="addry" parameterType="com.xt.xingtong.entity.Dictionary">
		insert into dictionary ( dname,
		dtype
		)
		values ( #{dname,jdbcType=VARCHAR}, dtype='ry'}
		)
	</insert>
	<insert id="addwx" parameterType="com.xt.xingtong.entity.Dictionary">
		insert into dictionary ( dname,
		dtype
		)
		values ( #{dname,jdbcType=VARCHAR}, dtype='wx'}
		)
	</insert>
	<insert id="addjszh" parameterType="com.xt.xingtong.entity.Dictionary">
		insert into dictionary (
		dname, dtype
		)
		values ( #{dname,jdbcType=VARCHAR}, dtype='jszh'}
		)
	</insert>
	<insert id="addjs" parameterType="com.xt.xingtong.entity.Dictionary">
		insert into dictionary ( dname,
		dtype
		)
		values ( #{dname,jdbcType=VARCHAR}, dtype='js'}
		)
	</insert>
	<insert id="adddz" parameterType="com.xt.xingtong.entity.Dictionary">
		insert into dictionary ( dname,
		dtype
		)
		values ( #{dname,jdbcType=VARCHAR}, dtype='dz'}
		)
	</insert>

	<!-- 删除 -->
	<delete id="deleteConsigneeById" parameterType="java.lang.Integer">
		delete from
		dictionary
		where did = #{did,jdbcType=INTEGER}
	</delete>
  
   <!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.xt.xingtong.entity.Dictionary">
		update dictionary
		set dname = #{dname,jdbcType=VARCHAR},
		dtype =
		#{dtype,jdbcType=VARCHAR}
		where did = #{did,jdbcType=INTEGER}
	</update>
<!-- 分页 -->

	<select id="selectDictionary" parameterType="com.xt.xingtong.info.Dictionaryinfo"
		resultType="com.xt.xingtong.entity.Dictionary">
		select * FROM dictionary
		<where>
			<if test="did!=null">
				AND did=#{did}
			</if>
			<if test="dname!=null and dname!=''">
				AND dname LIKE "%"#{dname}"%"
			</if>
			<if test="dtype!=null and dtype!=''">
				AND dtype =#{dtype}
			</if>

		</where>
		<if test="orderBy!=null and orderBy!=''">
			ORDER BY ${orderBy} DESC
		</if>
		LIMIT #{startIndex},#{limit}
	</select>
	<select id="selectDictionaryCount" parameterType="com.xt.xingtong.info.Dictionaryinfo"
		resultType="int">
		select COUNT(*) FROM dictionary
		<where>
			<if test="did!=null">
				AND did=#{did}
			</if>
			<if test="dname!=null and dname!=''">
				AND dname LIKE "%"#{dname}"%"
			</if>
			<if test="dtype!=null and dtype!=''">
				AND dtype =#{dtype}
			</if>

		</where>
		<if test="orderBy!=null and orderBy!=''">
			ORDER BY ${orderBy} DESC
		</if>
	</select>


<select id="selectByType" parameterType="string" resultType="dictionary">
select * FROM dictionary where dtype =#{type}

</select>

</mapper>