<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.xingtong.interf.StorageAreaMapper">
  <resultMap id="BaseResultMap" type="com.yyr.entity.StorageArea">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="snumber" jdbcType="VARCHAR" property="snumber" />
    <result column="areaname" jdbcType="VARCHAR" property="areaname" />
    <result column="creationdate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="wid" jdbcType="INTEGER" property="wid" />
    <result column="int0" jdbcType="INTEGER" property="int0" />
    <result column="string0" jdbcType="VARCHAR" property="string0" />
    <result column="string1" jdbcType="VARCHAR" property="string1" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sid, snumber, areaname, creationdate, wid, int0, string0, string1
  </sql>
  <select id="selectByExample" parameterType="com.yyr.entity.StorageAreaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from storagearea
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from storagearea
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from storagearea
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yyr.entity.StorageAreaExample">
    delete from storagearea
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yyr.entity.StorageArea">
    insert into storagearea (sid, snumber, areaname, 
      creationdate, wid, int0, 
      string0, string1)
    values (#{sid,jdbcType=INTEGER}, #{snumber,jdbcType=VARCHAR}, #{areaname,jdbcType=VARCHAR}, 
      #{creationdate,jdbcType=TIMESTAMP}, #{wid,jdbcType=INTEGER}, #{int0,jdbcType=INTEGER}, 
      #{string0,jdbcType=VARCHAR}, #{string1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyr.entity.StorageArea">
    insert into storagearea
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="snumber != null">
        snumber,
      </if>
      <if test="areaname != null">
        areaname,
      </if>
      <if test="creationdate != null">
        creationdate,
      </if>
      <if test="wid != null">
        wid,
      </if>
      <if test="int0 != null">
        int0,
      </if>
      <if test="string0 != null">
        string0,
      </if>
      <if test="string1 != null">
        string1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="snumber != null">
        #{snumber,jdbcType=VARCHAR},
      </if>
      <if test="areaname != null">
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null">
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="wid != null">
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="int0 != null">
        #{int0,jdbcType=INTEGER},
      </if>
      <if test="string0 != null">
        #{string0,jdbcType=VARCHAR},
      </if>
      <if test="string1 != null">
        #{string1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yyr.entity.StorageAreaExample" resultType="java.lang.Integer">
    select count(*) from storagearea
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update storagearea
    <set>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.snumber != null">
        snumber = #{record.snumber,jdbcType=VARCHAR},
      </if>
      <if test="record.areaname != null">
        areaname = #{record.areaname,jdbcType=VARCHAR},
      </if>
      <if test="record.creationdate != null">
        creationdate = #{record.creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wid != null">
        wid = #{record.wid,jdbcType=INTEGER},
      </if>
      <if test="record.int0 != null">
        int0 = #{record.int0,jdbcType=INTEGER},
      </if>
      <if test="record.string0 != null">
        string0 = #{record.string0,jdbcType=VARCHAR},
      </if>
      <if test="record.string1 != null">
        string1 = #{record.string1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update storagearea
    set sid = #{record.sid,jdbcType=INTEGER},
      snumber = #{record.snumber,jdbcType=VARCHAR},
      areaname = #{record.areaname,jdbcType=VARCHAR},
      creationdate = #{record.creationdate,jdbcType=TIMESTAMP},
      wid = #{record.wid,jdbcType=INTEGER},
      int0 = #{record.int0,jdbcType=INTEGER},
      string0 = #{record.string0,jdbcType=VARCHAR},
      string1 = #{record.string1,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyr.entity.StorageArea">
    update storagearea
    <set>
      <if test="snumber != null">
        snumber = #{snumber,jdbcType=VARCHAR},
      </if>
      <if test="areaname != null">
        areaname = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null">
        creationdate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="wid != null">
        wid = #{wid,jdbcType=INTEGER},
      </if>
      <if test="int0 != null">
        int0 = #{int0,jdbcType=INTEGER},
      </if>
      <if test="string0 != null">
        string0 = #{string0,jdbcType=VARCHAR},
      </if>
      <if test="string1 != null">
        string1 = #{string1,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyr.entity.StorageArea">
    update storagearea
    set snumber = #{snumber,jdbcType=VARCHAR},
      areaname = #{areaname,jdbcType=VARCHAR},
      creationdate = #{creationdate,jdbcType=TIMESTAMP},
      wid = #{wid,jdbcType=INTEGER},
      int0 = #{int0,jdbcType=INTEGER},
      string0 = #{string0,jdbcType=VARCHAR},
      string1 = #{string1,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.yyr.entity.StorageArea">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="snumber" jdbcType="VARCHAR" property="snumber" />
    <result column="areaname" jdbcType="VARCHAR" property="areaname" />
    <result column="creationdate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="wid" jdbcType="INTEGER" property="wid" />
    <result column="int0" jdbcType="INTEGER" property="int0" />
    <result column="string0" jdbcType="VARCHAR" property="string0" />
    <result column="string1" jdbcType="VARCHAR" property="string1" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sid, snumber, areaname, creationdate, wid, int0, string0, string1
  </sql>
  <select id="selectByExample" parameterType="com.yyr.entity.StorageAreaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from storagearea
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from storagearea
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from storagearea
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yyr.entity.StorageAreaExample">
    delete from storagearea
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yyr.entity.StorageArea">
    insert into storagearea (sid, snumber, areaname, 
      creationdate, wid, int0, 
      string0, string1)
    values (#{sid,jdbcType=INTEGER}, #{snumber,jdbcType=VARCHAR}, #{areaname,jdbcType=VARCHAR}, 
      #{creationdate,jdbcType=TIMESTAMP}, #{wid,jdbcType=INTEGER}, #{int0,jdbcType=INTEGER}, 
      #{string0,jdbcType=VARCHAR}, #{string1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyr.entity.StorageArea">
    insert into storagearea
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="snumber != null">
        snumber,
      </if>
      <if test="areaname != null">
        areaname,
      </if>
      <if test="creationdate != null">
        creationdate,
      </if>
      <if test="wid != null">
        wid,
      </if>
      <if test="int0 != null">
        int0,
      </if>
      <if test="string0 != null">
        string0,
      </if>
      <if test="string1 != null">
        string1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="snumber != null">
        #{snumber,jdbcType=VARCHAR},
      </if>
      <if test="areaname != null">
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null">
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="wid != null">
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="int0 != null">
        #{int0,jdbcType=INTEGER},
      </if>
      <if test="string0 != null">
        #{string0,jdbcType=VARCHAR},
      </if>
      <if test="string1 != null">
        #{string1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yyr.entity.StorageAreaExample" resultType="java.lang.Integer">
    select count(*) from storagearea
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update storagearea
    <set>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.snumber != null">
        snumber = #{record.snumber,jdbcType=VARCHAR},
      </if>
      <if test="record.areaname != null">
        areaname = #{record.areaname,jdbcType=VARCHAR},
      </if>
      <if test="record.creationdate != null">
        creationdate = #{record.creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wid != null">
        wid = #{record.wid,jdbcType=INTEGER},
      </if>
      <if test="record.int0 != null">
        int0 = #{record.int0,jdbcType=INTEGER},
      </if>
      <if test="record.string0 != null">
        string0 = #{record.string0,jdbcType=VARCHAR},
      </if>
      <if test="record.string1 != null">
        string1 = #{record.string1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update storagearea
    set sid = #{record.sid,jdbcType=INTEGER},
      snumber = #{record.snumber,jdbcType=VARCHAR},
      areaname = #{record.areaname,jdbcType=VARCHAR},
      creationdate = #{record.creationdate,jdbcType=TIMESTAMP},
      wid = #{record.wid,jdbcType=INTEGER},
      int0 = #{record.int0,jdbcType=INTEGER},
      string0 = #{record.string0,jdbcType=VARCHAR},
      string1 = #{record.string1,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyr.entity.StorageArea">
    update storagearea
    <set>
      <if test="snumber != null">
        snumber = #{snumber,jdbcType=VARCHAR},
      </if>
      <if test="areaname != null">
        areaname = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="creationdate != null">
        creationdate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="wid != null">
        wid = #{wid,jdbcType=INTEGER},
      </if>
      <if test="int0 != null">
        int0 = #{int0,jdbcType=INTEGER},
      </if>
      <if test="string0 != null">
        string0 = #{string0,jdbcType=VARCHAR},
      </if>
      <if test="string1 != null">
        string1 = #{string1,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyr.entity.StorageArea">
    update storagearea
    set snumber = #{snumber,jdbcType=VARCHAR},
      areaname = #{areaname,jdbcType=VARCHAR},
      creationdate = #{creationdate,jdbcType=TIMESTAMP},
      wid = #{wid,jdbcType=INTEGER},
      int0 = #{int0,jdbcType=INTEGER},
      string0 = #{string0,jdbcType=VARCHAR},
      string1 = #{string1,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>