<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.xingtong.interf.StorageAreaMapper">

<!-- 根据id删除货区 -->
	<delete id="deleteStorageAreaById" parameterType="java.lang.Integer">
		delete from
		storagearea
		where sid = #{sid,jdbcType=INTEGER}
	</delete>

	<!-- 查询备货区名称 -->
	<select id="existName" parameterType="string" resultType="com.xt.xingtong.entity.StorageArea" >
		select
		areaname FROM storagearea where areaname= #{areaname}
	</select>
	<!-- 查看有无数据 -->
	<select id="existsStorageArea" resultType="int">
		select COUNT(sid) FROM
		actualproduct a
		INNER JOIN storagearea s ON a.storageid=s.sid
	</select>
	<!-- 添加，货区 -->
	<insert id="insert" parameterType="com.xt.xingtong.entity.StorageArea">
		insert into storagearea (sid,
		snumber, areaname,
		creationdate, wid, int0,
		string0, string1)
		values
		(#{sid,jdbcType=INTEGER}, #{snumber,jdbcType=VARCHAR},
		#{areaname,jdbcType=VARCHAR},
		#{creationdate,jdbcType=TIMESTAMP},
		#{wid,jdbcType=INTEGER}, #{int0,jdbcType=INTEGER},
		#{string0,jdbcType=VARCHAR}, #{string1,jdbcType=VARCHAR})
	</insert>
	<!-- 分页查询 -->
	<select id="selectStorageArea" parameterType="com.xt.xingtong.info.StorageAreainfo"
		resultType="com.xt.xingtong.entity.StorageArea">
		select * FROM storagearea
		<where>
			<if test="sid!=null">
				AND sid=#{sid}
			</if>
			<if test="snumber!=null and creationdate!=''">
				AND snumber =#{snumber}
			</if>
			<if test="areaname!=null and areaname!=''">
				AND areaname LIKE "%"#{areaname}"%"
			</if>

			<if test="creationdate!=null and snumber!=''">
				AND creationdate = #{creationdate}
			</if>


		</where>
		<if test="orderBy!=null and orderBy!=''">
			ORDER BY ${orderBy} DESC
		</if>
		LIMIT #{startIndex},#{limit}
	</select>
	<select id="selectStorageAreaCount" parameterType="com.xt.xingtong.info.StorageAreainfo"
		resultType="int">
		select COUNT(*) FROM storagearea
		<where>
			<if test="sid!=null">
				AND sid=#{sid}
			</if>
			<if test="snumber!=null and snumber!=''">
				AND snumber =#{snumber}
			</if>
			<if test="areaname!=null and areaname!=''">
				AND areaname LIKE "%"#{areaname}"%"
			</if>

			<if test="creationdate!=null and creationdate!=''">
				AND creationdate = #{creationdate}
			</if>
		</where>
		<if test="orderBy!=null and orderBy!=''">
			ORDER BY ${orderBy} DESC
		</if>
	</select>

	<!-- 修改备货区 -->
	<update id="updateByPrimaryKey" parameterType="com.xt.xingtong.entity.StorageArea">
		update storagearea
		set snumber = #{snumber,jdbcType=VARCHAR},
		areaname =
		#{areaname,jdbcType=VARCHAR},
		creationdate =
		#{creationdate,jdbcType=TIMESTAMP},
		wid = #{wid,jdbcType=INTEGER},
		int0
		= #{int0,jdbcType=INTEGER},
		string0 = #{string0,jdbcType=VARCHAR},
		string1 = #{string1,jdbcType=VARCHAR}
		where sid =
		#{sid,jdbcType=INTEGER}
	</update>




</mapper>